.login {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    padding: 2rem;
    background-color: $color3;
    color: $color1;
    border-radius: 10px;
    cursor: default;

    i {
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        font-style: normal;
        position: absolute;
        top: 5px;
        right: 5px;
        border-radius: 5px;
        user-select: none;
        cursor: default;

        transition: background-color 150ms;

        &:hover {
            background-color: tomato;
        }
    }

    .pfp {
        width: 60px;
        height: 60px;
        background-color: $color1;
        margin: 0 auto 20px;
        border-radius: 50%;
        cursor: pointer;

        img {
            width: 100%;
        }
    }

    form {
        gap: 25px;

        .wrapper {
            gap: 10px;
        }

        input {
            padding: 10px;
            border-radius: 3px;
        }

        button {
            margin: unset;
            padding: 5px 10px;
            border-radius: 3px;
            background-color: $color1;
        }
    }

    .google-login {
        width: 100%;
        margin: 25px auto;
        display: flex;
        border: none !important;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        
        & > div {
            margin-right: 0 !important;
            padding: 8px !important;
            border-top-left-radius: 3px !important;
            border-bottom-left-radius: 3px !important;
        }
        
        & > span {
            display: block;
            flex-grow: 1;
            align-self: stretch;
            background-color: #4285f4;
            color: white;
            border-top-right-radius: 3px !important;
            border-bottom-right-radius: 3px !important;
        }
    }

    p span {
        text-decoration: underline;
        color: #a15fde;
        cursor: pointer;

        &:hover {
            text-decoration: none;
        }
    }
}
